- var cartItems = [{name:"Nvidia GeForce RTX 2070", price:519},{name:"EVGA GeForce GTX 1080 FE", price:789},{name:"MSI GeForce GTX 1080", price:439}]
- var categories = ["Desktop","Laptop","Tablet","Smartphone","Components","Accessories","Software"]
- var totalPrice = cartItems.reduce((sum, item) => sum + item.price, 0);
- var random = (min, max) => Math.round(Math.random() * (max - min) + min);

mixin stallHeader(title, badgeTitle)
    div.d-flex.align-items-end.justify-content-between
        h4
            a.d-md-none.card-link(href="./popular-items.html") #{title}
            span.d-none.d-md-inline #{title}
            if badgeTitle
                span.badge.ml-2&attributes(attributes) #{badgeTitle}
        h6
            a.card-link.d-none.d-md-block(href="./popular-items.html") More >>
    hr.border-info.mb-2.mb-md-1.mt-1.mt-md-2

mixin item(title, rate, price, oldPrice, saleTitle)
    div.col-md-4.col-6.col-lg-3.d-flex.my-2.my-md-3&attributes(attributes)
        div.card.shadow-sm
            img.card-img-top.w-100(src=`../images/items/item-image/${random(1, 5, 5)}.jpg`)
            div.card-body.d-flex.flex-column.flex-grow-1.px-md-3.px-2.py-2
                h6.card-title.mb-1 #{title}
                //price and sale
                div.small.text-success.font-weight-bold.d-flex.align-items-center $#{price}.00
                    if saleTitle
                        span.badge.badge-danger.ml-1 #{saleTitle}
                if oldPrice
                    del.smaller.text-muted.d-none.d-md-block #{oldPrice}.00
                // description
                // div.card-text.small.text-muted.d-none.d-md-block Some thing about this product.
                a.small.card-link.stretched-link(href="./item.html")
                // button group
                div.d-flex.flex-grow-1.justify-content-between.align-items-end
                    //rating
                    div.smaller
                        div.text-warning.d-none.d-md-block
                            each _ in Array(rate)
                                i.fas.fa-star
                            each _ in Array(5 - rate)
                                i.far.fa-star
                    div.btn-over-stretched-link
                        button.btn.btn-outline-success.btn-sm.py-0.px-1
                            i.fas.fa-cart-plus
                        button.btn.btn-outline-danger.btn-sm.py-0.px-1.ml-1
                            i.far.fa-heart

mixin itemLarge(title, subtitle)
    div.col-md-6.col-12.col-lg-4.d-flex.my-2.my-md-3&attributes(attributes)
        div.card.shadow-sm.flex-grow-1
            img.card-img-top.w-100(src=`../images/items/item-featured/${random(1, 4)}.jpg`)
            div.card-body.d-flex.flex-column
                h5.card-title #{title}
                h6.card-subtitle.text-muted.mb-2 #{subtitle}
                a.card-link.mt-auto(href="./item.html") Read more >

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="../css/font.min.css")
        link(rel="stylesheet" href="../css/bootstrap.min.css")
        link(rel="stylesheet" href="../css/animate.min.css")
        link(rel="stylesheet" href="../css/simplebar.css")
        link(rel="stylesheet" href="../css/global.css")
        block head
    body.bg-light
        //header nav
        header.navbar.navbar-dark.bg-dark.navbar-expand-lg.z-top
            div.container
                button.navbar-toggler(data-target="#nav-collapse-menu" data-toggle="collapse")
                    i.fas.fa-bars
                //sm logo (light)
                a.d-block.flex-grow-1.d-lg-none.text-center.text-light.card-link(href="./home.html")
                    h4.d-inline.mr-2
                        i.fas.fa-laptop
                    h4.d-inline L
                    h6.d-inline
                        i.fas.fa-power-off
                    h4.d-inline gon
                button.navbar-toggler.ml-auto(data-target="#nav-collapse-user" data-toggle="collapse")
                    i.fas.fa-user-cog
                div#nav-collapse-menu.collapse.navbar-collapse
                    hr.d-block.d-lg-none.border-light
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href="./home.html")
                                i.fas.fa-home.mr-1
                                span Home
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown")
                                i.fas.fa-box.mr-1
                                span Categories
                            div.dropdown-menu
                                each category in categories
                                    a.dropdown-item(href="./categories-items.html") #{category}
                        li.nav-item
                            a.nav-link(href="#")
                                i.fas.fa-phone-alt.mr-1
                                span Contact
                        li.nav-item
                            a.nav-link(href="#")
                                i.fas.fa-user-friends.mr-1
                                span Support
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown")
                                i.fas.fa-question-circle.mr-1
                                span Location
                            div.dropdown-menu
                                a.dropdown-item(href="./home.html") Home
                                a.dropdown-item(href="./categories-items.html") Category
                                a.dropdown-item(href="./search-items.html") Search
                                a.dropdown-item(href="./popular-items.html") Popular
                                a.dropdown-item(href="./item.html") Item
                                a.dropdown-item(href="./cart.html") Cart
                div#nav-collapse-user.collapse.navbar-collapse
                    hr.border-light
                    ul.navbar-nav.ml-auto.mr-2
                        li.nav-item
                            a.nav-link(href="#" role="button" data-toggle="modal" data-target="#sign-in-modal") Sign in
                                i.fas.fa-sign-in-alt.ml-2
                            // put modal here so it float over the top
                            div#sign-in-modal.modal.fade(tabindex="-1" role="dialog")
                                div.modal-dialog.modal-dialog-centered(role="document")
                                    div.modal-content
                                        div.modal-header
                                            h5.modal-title Login
                                            button.close(type="button" data-dismiss="modal")
                                                span(aria-hidden="true") &times;
                                        div.modal-body
                                            form#sigin-form
                                                .form-group
                                                    label(for="sign-in-email") Email or phone number
                                                    input#sign-in-email.form-control(type="text" placeholder="Enter email or Phone Number")
                                                .form-group
                                                    label(for="sign-in-password") Password
                                                    input#sign-in-password.form-control(type="password" placeholder="Enter password")
                                                .form-check.form-group
                                                    input#keep-sign-in.form-check-input(type="checkbox")
                                                    label.form-check-label(for="keep-sign-in") Remember me
                                                .d-flex.justify-content-between
                                                    div
                                                        button.btn.btn-outline-danger
                                                            i.fab.fa-google
                                                        button.btn.btn-outline-primary.ml-2
                                                            i.fab.fa-facebook-f.p-1
                                                    div
                                                        button.btn.btn-primary.mr-2(type="submit") Login
                                                        button.btn.btn-danger(type="button" data-dismiss="modal") Close

                        li.nav-item
                            a.nav-link(href="#" role="button" data-toggle="modal" data-target="#sign-up-modal") Sign up
                                i.fas.fa-user-plus.ml-2
                            div#sign-up-modal.modal.fade(tabindex="-1" role="dialog")
                                div.modal-dialog.modal-dialog-centered(role="document")
                                    div.modal-content
                                        div.modal-header
                                            h5.modal-title Sign up
                                            button.close(type="button" data-dismiss="modal")
                                                span(aria-hidden="true") &times;
                                        div.modal-body
                                            form#sigup-form
                                                .form-group
                                                    label(for="sign-up-email") Email
                                                    input#sign-up-email.form-control(type="text" placeholder="Enter Email")
                                                .form-group
                                                    label(for="sign-up-password") Password
                                                    input#sign-up-password.form-control(type="password" placeholder="Enter password")
                                                    small.form-text.text-muted Must be 8-20 characters long contain both letters and numbers
                                                .form-group
                                                    label(for="sign-up-password-check") Re-enter Password
                                                    input#sign-up-password-check.form-control(type="password" placeholder="Re-enter password")
                                                .form-row
                                                    .form-group.col
                                                        label(for="first-name") First name
                                                        input#first-name.form-control(type="text" placeholder="First name")
                                                    .form-group.col
                                                        label(for="last-name") Last name
                                                        input#last-name.form-control(type="text" placeholder="Last name")
                                                .form-group
                                                    label Date of Birth
                                                    .form-row
                                                        .form-group.col-4
                                                            select#birth-date.form-control
                                                                option 19
                                                        .form-group.col-4
                                                            select#birth-month.form-control
                                                                option Jan
                                                        .form-group.col-4
                                                            select#birth-year.form-control
                                                                option 1998
                                                .form-check.form-group
                                                    input#notify-news.form-check-input(type="checkbox")
                                                    label.form-check-label(for="notify-news") Notify me about Logon's new
                                                        | product and discount
                                                .form-check.form-group
                                                    input#accept-terms-conditions.form-check-input(type="checkbox")
                                                    label.form-check-label(for="accept-terms-conditions") I have read and accept the
                                                        a.card-link.ml-1(href="#") Logon's terms and conditions
                                                .d-flex.justify-content-end
                                                    button.btn.btn-primary.mr-2(type="submit") Sign up
                                                    button.btn.btn-danger(type="button" data-dismiss="modal") Close

        //sticky search bar nav and cart
        nav.sticky-top.py-2.py-lg-3.mb-lg-5.mb-3.bg-white.shadow
            div.container
                div.row
                    // lg logo (dark)
                    a.d-none.d-lg-block.col-lg-3.card-link.text-dark(href="./home.html")
                        div.mr-2
                            div.text-center
                                h2.d-inline.mr-2
                                    i.fas.fa-laptop
                                h3.d-inline L
                                h5.d-inline
                                    i.fas.fa-power-off
                                h3.d-inline gon
                    // search bar
                    div.col-lg-9
                        div.d-flex
                            div.flex-grow-1
                                form.input-group
                                    input.form-control.border-primary(placeholder="Search for product...")
                                    div.input-group-append
                                        a.btn.btn-primary(href="./search-items.html")
                                            i.fas.fa-search
                                            span.d-none.d-md-inline-block.ml-1 Search
                            // cart with dropdown
                            div.ml-2.ml-lg-4
                                div.dropdown
                                    div.btn-group
                                        a.btn.btn-primary(role="button" href="./cart.html")
                                            i.fas.fa-shopping-cart
                                                span.ml-3.d-none.d-md-inline $#{totalPrice}.00
                                        button.btn.btn-outline-primary.dropdown-toggle.dropdown-toggle-split(type="button" data-toggle="dropdown")
                                        div.dropdown-menu.bg-light.dropdown-menu-right.p-0.mt-2.mt-lg-3
                                            h5.bg-dark.text-light.text-nowrap.dropdown-header.p-3.rounded-top Your Cart has #{cartItems.length} item
                                            each item in cartItems
                                                div.dropdown-item.pl-3.pr-2.py-2.d-flex.justify-content-between.align-items-baseline
                                                    a.card-link.text-nowrap(href="./item.html") #{item.name}
                                                    span.d-none.d-md-inline &nbsp &nbsp &nbsp &nbsp &nbsp
                                                    span.d-md-none &nbsp
                                                    div
                                                        span.badge.badge-pill.badge-info.mr-2 1
                                                        span.badge.badge-pill.badge-dark $#{item.price}

                                            div.dropdown-divider.m-0
                                            div.dropdown-item.pl-3.pr-2.py-2.d-flex.justify-content-between.align-items-baseline
                                                div.card-link.text-nowrap Total
                                                h5 $#{totalPrice}.00
                                            div.dropdown-divider.m-0
                                            div.dropdown-item.px-4.pt-3.pb-2.text-center.d-flex
                                                a.btn.btn-success.flex-grow-1.btn-sm.text-light(href="checkout.html") Check out
                                            div.dropdown-item.px-4.pb-3.text-center.d-flex
                                                a.btn.btn-primary.flex-grow-1.btn-sm.text-light(href="cart.html")  Go to cart

        //content
        block body

        footer.bg-dark.mt-5
            div.container
                div.row.text-white
                    each title in ["Support","About","Contact","Cooperation"]
                        div.col-6.col-md-3.nav.flex-column.p-3
                            h6 #{title}
                            a(href="#").text-info.smaller Link
                            a(href="#").text-info.smaller More Link
                            a(href="#").text-info.smaller Even More
                            a(href="#").text-info.smaller Question

                div.d-flex.row.py-1.justify-content-md-center
                    div.text-nowrap.d-flex
                        a(href="#").text-light.ml-3.smaller Conditions of Use
                        a(href="#").text-light.ml-2.smaller Privacy Notice
                    div.text-nowrap.d-flex
                        a(href="#").text-muted.ml-3.smaller Blog
                        a(href="#").text-muted.ml-2.smaller Facebook
                        a(href="#").text-muted.ml-2.smaller Twitter
                        a(href="#").text-muted.ml-2.smaller Linkedln
                    div.ml-3.text-muted.smaller &copy; 2019 Logon, Inc. All right reserved


        script(src="../scripts/jquery-3.4.1.min.js")
        script(src="../scripts/bootstrap.bundle.min.js")
        script(src="../scripts/simplebar.min.js")
