extends base.layout.pug

block body
    .container.mb-5
        h4.text-info.d-inline.mr-2 Check Out
        span.text-muted (3 Items)
        hr.border-info.mt-1.mt-md-2.mb-md-4

        .d-flex.align-items-start
            #checkout-accordion.accordion.shadow.flex-grow-1
                .card
                    .card-header
                        a.card-link.text-dark(
                            href="#"
                            role="button"
                            data-toggle="collapse"
                            data-target="#checkout-account"
                        )
                            h5.my-2 Step 1: Login to Account
                    #checkout-account.collapse.show(data-parent="#checkout-accordion")
                        .card-body.px-md-5
                            .row
                                .col-md-6
                                    form#checkout-sign-in-form.d-flex.flex-column
                                        .form-group
                                            label(for="checkout-sign-in-email") Email
                                            input#checkout-sign-in-email.form-control(type="text" placeholder="Enter email" name="email")
                                        .form-group
                                            label(for="checkout-sign-in-password") Password
                                            input#checkout-sign-in-password.form-control(type="password" placeholder="Enter password" name="password")
                                        .form-check.form-group
                                            input#checkout-keep-sign-in.form-check-input(type="checkbox")
                                            label.form-check-label(for="checkout-keep-sign-in") Remember me
                                        button.btn.btn-primary.align-self-md-center.w-50.d-none.d-md-block(type="submit") Login
                                        button.btn.btn-primary.d-md-none(type="submit") Login
                                    hr.d-md-none
                                .col-md-1.d-none.d-md-flex.flex-column.align-items-center
                                    .border.border-muted.flex-grow-1
                                .col-md-5.d-flex.justify-content-center.flex-column
                                    button.btn.btn-outline-primary.mb-2 Login with Facebook
                                    button.btn.btn-outline-danger.mb-2 Login with Google
                                    button.btn.btn-outline-success.mb-2 Create An Account

                .card
                    .card-header
                        a.card-link.text-dark.font-weight-bolder(
                            href="#"
                            role="button"
                            data-toggle="collapse"
                            data-target="#checkout-address"
                        )
                            h5.my-2 Step 2: Shipping address
                    #checkout-address.collapse(data-parent="#checkout-address")
                        .card-body.px-md-5
                            .row
                                form#shipping-form.col-md-10.offset-md-1
                                    div
                                        .form-row
                                            .form-group.col-6
                                                label(for="checkout-first-name") First name
                                                input#checkout-first-name.form-control(
                                                    type="text"
                                                    placeholder="First name"
                                                    name="firstname"
                                                    value="John"
                                                )
                                            .form-group.col-6
                                                label(for="checkout-last-name") Last name
                                                input#checkout-last-name.form-control(
                                                    type="text"
                                                    placeholder="Last name"
                                                    name="lastname"
                                                    value="Nhoj"
                                                )
                                        .form-group
                                            label(for="checkout-phone") Phone number
                                            input#checkout-phone.form-control(
                                                type="text"
                                                placeholder="Your phone number"
                                                name="phone"
                                                value="0919190919"
                                            )
                                        .form-group
                                            label(for="checkout-ship-address") Address
                                            input#checkout-ship-address.form-control(
                                                type="text"
                                                placeholder="Your address"
                                                name="address"
                                            )
                                        .form-group
                                            label(for="checkout-ship-address2") Address 2
                                                span.text-muted.ml-1.small (Optional)
                                            input#checkout-ship-address2.form-control(
                                                type="text"
                                                placeholder="Your secondary address"
                                                name="address2"
                                            )
                                        .form-row
                                            .form-group.col-6
                                                label(for="checkout-ship-city") City
                                                input#checkout-ship-city.form-control(
                                                    type="text"
                                                    placeholder="Your city"
                                                    name="city"
                                                )
                                            .form-group.col-6
                                                label Nation
                                                select.form-control
                                                    option Viet Nam
                                        .form-group.form-check
                                            input.form-check-input(type="checkbox")
                                            label.form-check-label Save this information for next transaction
                                    hr.border-info
                                    .row
                                        .col-md-4
                                            .card.border-info.mb-2
                                                .card-body.p-3
                                                    .d-flex.d-md-block.justify-content-between
                                                        h6.card-title.mb-1.text-info Free Shipping
                                                        .card-text.text-info.small
                                                            i.far.fa-clock.mr-1
                                                            span 7-14 days
                                        .col-md-4
                                            .card.mb-2
                                                .card-body.p-3
                                                    .d-flex.d-md-block.justify-content-between
                                                        h6.card-title.mb-1.text-muted Fast Shipping
                                                        .card-text.small.text-muted
                                                            i.fas.fa-shipping-fast.mr-1
                                                            span 3-5 days

                                        .col-md-4
                                            .card.mb-2
                                                .card-body.p-3
                                                    .d-flex.d-md-block.justify-content-between.flex-wrap
                                                        h6.card-title.mb-1.text-muted Shipping Max
                                                        .card-text.small.text-muted
                                                            i.fas.fa-fire-alt.mr-1
                                                            span same-day
                                    .mt-4.d-flex.flex-column
                                        button#shipping-form-submit.btn.btn-primary.align-self-md-center(type="submit") Save shipping information

                .card
                    .card-header
                        a.card-link.text-dark.font-weight-bolder(
                            href="#"
                            role="button"
                            data-toggle="collapse"
                            data-target="#checkout-payment"
                        )
                            h5.my-2 Step 3: Payment method
                    #checkout-payment.collapse(data-parent="#checkout-accordion")
                        .card-body.px-md-5
                            #checkout-payment-collapse.row.collapse-force.show
                                .col
                                    .form-check.form-group
                                        input#payment-method-after.form-check-input(
                                            type="radio"
                                            name="payment-method"
                                            data-toggle="collapse"
                                            data-target="#payment-method-before-collapse,#payment-method-before-divider"
                                            checked
                                        )
                                        label.form-check-label(for="payment-method-after") Payment after arrival of goods
                                    .form-check.form-group
                                        input#payment-method-before.form-check-input(
                                            type="radio"
                                            name="payment-method"
                                            data-toggle="collapse"
                                            data-target="#payment-method-before-collapse,#payment-method-before-divider"
                                        )
                                        label.form-check-label(for="payment-method-before") Immediate online payment
                                //if payment-method-before checked then this form show up
                                #payment-method-before-divider.col-md-1.d-none.d-md-flex.flex-column.align-items-center.collapse-force
                                    .border.border-muted.flex-grow-1
                                #payment-method-before-collapse.col-md-6.collapse-force
                                    form
                                        .form-group
                                            label(for="payment-card-number") Card Number
                                            input#payment-card-number.form-control(type="text" placeholder="Ex: 1234 5678 9101 1212")
                                        .form-group
                                            label(for="payment-card-name") Card Name
                                            input#payment-card-name.form-control(type="text" placeholder="Ex: JOHNY YNHOJ")
                                        .form-row
                                            .form-group.col-6
                                                label(for="payment-card-name") Expiration
                                                input#payment-expiration-date.form-control(type="text" placeholder="MM/YY")
                                            .form-group.col-6
                                                label(for="payment-card-name") MCC
                                                input#payment-mcc.form-control(type="text" placeholder="Ex: 123")
                                .col-12.d-flex.flex-column.mt-4
                                    button.button.btn.btn-primary.align-self-md-center(
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#success-checkout,#checkout-payment-collapse"
                                    ) Process Checkout
                            #success-checkout.collapse
                                .alert.alert-success Checkout successfully!


            .ml-4.d-none.d-lg-block
                .card.shadow
                    .card-header.d-flex.justify-content-between.align-items-center
                        h5.my-2.text-dark.d-inline Cart Items
                        button.btn.btn-outline-secondary.btn-sm Edit
                    .card-body
                        each item in cartItems
                            .d-flex.justify-content-between.align-items-baseline.mb-3
                                a.card-link.text-nowrap(href="./item.html") #{item.name} &nbsp &nbsp
                                .text-nowrap
                                    span.badge.badge-pill.badge-info.mr-1 1
                                    span.badge.badge-pill.badge-dark $#{item.price}
                        hr
                        .d-flex.justify-content-between
                            h5 Total
                            h5.text-success.font-weight-bold $#{totalPrice}.00

block script
    script.
        $("#shipping-form").validate({
            rules: {
                firstname: {
                    required: true
                },
                lastname: {
                    required: true
                },
                phone: {
                    required: true,
                    regex: /^0[0-9]+$/,
                    minlength: 10,
                    maxlength: 11,
                },
                address: {
                    required: true
                },
                city: {
                    required: true
                }
            },
            messages: {
                phone: "Please provide a valid phone number"
            },
            submitHandler: () => {
                $("#checkout-payment").collapse("show")
                $("#checkout-address").collapse("hide")
            }
        });
        $("#checkout-sign-in-form").validate({
            rules: {
                email: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                email: "Please enter your Email",
                password: "Please enter your password"
            },
            submitHandler: () => {
                $("#checkout-account").collapse("hide")
                $("#checkout-address").collapse("show")
            }
        })
