doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= "Document"
        link(rel="stylesheet" href="../css/font.min.css")
        link(rel="stylesheet" href="../css/bootstrap.min.css")
    body
        nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
            div.container
                button(data-target="#nav-collapse-menu" data-toggle="collapse").navbar-toggler
                    i.fas.fa-bars
                //sm logo (light)
                div.d-block.flex-grow-1.d-lg-none.text-center.text-light
                    h3.d-inline.mr-2
                        i.fas.fa-boxes
                    h4.d-inline L
                    h6.d-inline
                        i.far.fa-smile-wink
                    h4.d-inline gon
                button(data-target="#nav-collapse-option" data-toggle="collapse").navbar-toggler.ml-auto
                    i.fas.fa-user-cog

                div#nav-collapse-menu.collapse.navbar-collapse
                    hr.d-block.d-lg-none.border-light
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a(href="./home.html").nav-link
                                i.fas.fa-home.mr-1
                                span Home
                        li.nav-item
                            a(href="#").nav-link
                                i.fas.fa-box.mr-1
                                span Categories
                        li.nav-item
                            a(href="#").nav-link
                                i.fas.fa-phone-alt.mr-1
                                span Contact
                        li.nav-item
                            a(href="#").nav-link
                                i.fas.fa-user-friends.mr-1
                                span Support
                        li.nav-item
                            a(href="#").nav-link
                                i.fas.fa-question-circle.mr-1
                                span About
                div#nav-collapse-option.collapse.navbar-collapse
                    hr.border-light
                    ul.navbar-nav.ml-auto.mr-2
                        li.nav-item
                            a(href="#").nav-link Sign in
                                i.fas.fa-sign-in-alt.ml-2
                        li.nav-item
                            a(href="#").nav-link Sign up
                                i.fas.fa-user-plus.ml-2

        div.container
            div.row.lg-2.mt-lg-4
                // left col - only show when lg
                div.col-lg-3.d-none.d-lg-block
                    // lg logo (dark)
                    div
                        h2.d-inline.mr-2
                            i.fas.fa-boxes
                        h3.d-inline L
                        h5.d-inline
                            i.far.fa-smile-wink
                        h3.d-inline gon

                div.col-lg-9.mt-2.mt-lg-0
                    // search bar
                    div.d-flex.mb-2.mb-lg-4
                        div.flex-grow-1
                            form.input-group
                                input(placeholder="Search for product...").form-control
                                div.input-group-append
                                    button(type="submit").btn.btn-primary
                                        i.fas.fa-search
                                        span.d-none.d-md-inline-block.ml-1 Search
                        div.ml-2.ml-lg-4
                            button.btn.btn-primary
                                span.d-none.d-md-inline-block.mr-2 Your cart
                                i.fas.fa-shopping-cart
                                    span.badge.ml-1.badge-light 0

                    // breadcrumb navigation
                    nav.mb-2
                        ol.breadcrumb
                            li.breadcrumb-item Home

                    //main content
                    div(data-ride="carousel")#carousel.carousel.slide.rounded
                        ol.carousel-indicators
                            li(data-target="#carousel" data-slide-to="0").active
                            each i in [1,2,3,4]
                                li(data-target="#carousel" data-slide-to=i)
                        div.carousel-inner
                            div.carousel-item.active
                                img(src="../images/carousel/slide0.jpg" alt="slide0").d-block.w-100.rounded
                            each i in [1,2,3,4]
                                div.carousel-item
                                    img(src=`../images/carousel/slide${i}.jpg` alt=`slide${i}`).d-block.w-100.rounded
                        a(data-slide="next" role="button" href="#carousel").carousel-control-next
                            span.carousel-control-next-icon
                        a(data-slide="prev" role="button" href="#carousel").carousel-control-prev
                            span.carousel-control-prev-icon

        script(src="../scripts/jquery-3.4.1.min.js")
        script(src="../scripts/bootstrap.bundle.min.js")
