- var categories = ["Desktop & Laptop","Smartphone & Tablet","Embedded Computer","Components","Accessories","Software"];
- var popular = ["Gaming Laptop","Workstation","Gaming PC","Hard Drive","Graphics Card","External Drives","Gaming Gear","Monitor"]

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= "Document"
        link(rel="stylesheet" href="../css/font.min.css")
        link(rel="stylesheet" href="../css/bootstrap.min.css")
        link(rel="stylesheet" href="../css/global.css")
    body.bg-light
        //top nav
        nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
            div.container
                button.navbar-toggler(data-target="#nav-collapse-menu" data-toggle="collapse")
                    i.fas.fa-bars
                //sm logo (light)
                div.d-block.flex-grow-1.d-lg-none.text-center.text-light
                    h4.d-inline.mr-2
                        i.fas.fa-laptop
                    h4.d-inline L
                    h6.d-inline
                        i.fas.fa-power-off
                    h4.d-inline gon
                button.navbar-toggler.ml-auto(data-target="#nav-collapse-option" data-toggle="collapse")
                    i.fas.fa-user-cog

                div#nav-collapse-menu.collapse.navbar-collapse
                    hr.d-block.d-lg-none.border-light
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href="./home.html")
                                i.fas.fa-home.mr-1
                                span Home
                        li.nav-item
                            a.nav-link(href="./categories.html")
                                i.fas.fa-box.mr-1
                                span Categories
                        li.nav-item
                            a.nav-link(href="#")
                                i.fas.fa-phone-alt.mr-1
                                span Contact
                        li.nav-item
                            a.nav-link(href="#")
                                i.fas.fa-user-friends.mr-1
                                span Support
                        li.nav-item
                            a.nav-link(href="#")
                                i.fas.fa-question-circle.mr-1
                                span About
                div#nav-collapse-option.collapse.navbar-collapse
                    hr.border-light
                    ul.navbar-nav.ml-auto.mr-2
                        li.nav-item
                            a.nav-link(href="#") Sign in
                                i.fas.fa-sign-in-alt.ml-2
                        li.nav-item
                            a.nav-link(href="#") Sign up
                                i.fas.fa-user-plus.ml-2

        //sticky search bar
        div.sticky-top.pt-2.pt-lg-3.mb-lg-4.bg-white.shadow
            div.container
                div.row
                    // lg logo (dark)
                    div.d-none.d-lg-block.col-lg-3
                        div.mr-2
                            div.text-center
                                h2.d-inline.mr-2
                                    i.fas.fa-laptop
                                h3.d-inline L
                                h5.d-inline
                                    i.fas.fa-power-off
                                h3.d-inline gon
                    // search bar
                    div.col-lg-9
                        div.d-flex
                            div.flex-grow-1
                                form.input-group
                                    input.form-control.border-primary(placeholder="Search for product...")
                                    div.input-group-append
                                        button.btn.btn-primary(type="submit")
                                            i.fas.fa-search
                                            span.d-none.d-md-inline-block.ml-1 Search
                            div.ml-2.ml-lg-4
                                button.btn.btn-primary
                                    i.fas.fa-shopping-cart
                                        span.badge.ml-1.badge-light 0
                                    i.fas.fa-dollar-sign.ml-2.d-none.d-md-inline
                                        span.ml-1 0.00
            hr.mt-2.mt-lg-3

        div.container
            div.row
                // left col - only show when lg
                div.d-none.d-lg-block.col-lg-3
                    div.mr-2
                        div.list-group.font-small.mb-4.shadow-sm
                            div.list-group-item.list-group-item-secondary.rounded-0.font-weight-bold Shop by Category
                            ul.nav.flex-column.list-group-item
                                each category in categories
                                    li.nav-item
                                        a.nav-link.text-nowrap(href="#") #{category}
                                li.nav-item
                                    hr.m-2
                                    a.text-nowrap(href="./categories") More Category...

                        div.list-group.font-small.mb-4.shadow-sm
                            div.list-group-item.list-group-item-secondary.rounded-0.font-weight-bold Popular Searches
                            ul.nav.flex-column.list-group-item
                                each category in popular
                                    li.nav-item
                                        a.nav-link.text-nowrap(href="#") #{category}

                        img.rounded.w-100.shadow-sm.mb-4.border-light(src="../images/ad/tablet.jpg")
                        div.card.shadow-sm.mb-4
                            div.card-body
                                h5.card-text.font-weight-light 50% Discount offer, Don't miss out!
                                a.card-link.font-small(href="#") Read more >>
                        div.card.shadow-sm.mb-4
                            div.card-body
                                h5.card-text.font-weight-light Some more fucking ad down there!
                                a.card-link.font-small(href="#") Read more >>


                div.col-lg-9
                    //main content
                    div#carousel.carousel.slide.rounded(data-ride="carousel")
                        ol.carousel-indicators
                            li.active(data-target="#carousel" data-slide-to="0")
                            each i in [1,2,3,4]
                                li(data-target="#carousel" data-slide-to=i)
                        div.carousel-inner
                            div.carousel-item.active
                                img.d-block.w-100(src="../images/carousel/slide0.jpg" alt="slide0")
                            each i in [1,2,3,4]
                                div.carousel-item
                                    img.d-block.w-100(src=`../images/carousel/slide${i}.jpg` alt=`slide${i}`)
                        a.carousel-control-next(data-slide="next" role="button" href="#carousel")
                            span.carousel-control-next-icon
                        a.carousel-control-prev(data-slide="prev" role="button" href="#carousel")
                            span.carousel-control-prev-icon

        script(src="../scripts/jquery-3.4.1.min.js")
        script(src="../scripts/bootstrap.bundle.min.js")
