extends nav-left.layout.pug

block head
    title Home
    link(rel="stylesheet" href="../css/simplebar.css")

block content
    div#carousel.carousel.slide.rounded.shadow-sm.mb-4(data-ride="carousel")
        ol.carousel-indicators
            li.active(data-target="#carousel" data-slide-to="0")
            each i in [1,2,3,4]
                li(data-target="#carousel" data-slide-to=i)
        div.carousel-inner
            div.carousel-item.active
                img.d-block.w-100(src="../images/carousel/slide0.jpg" alt="slide0")
            each i in [1,2,3,4]
                div.carousel-item
                    img.d-block.w-100(src=`../images/carousel/slide${i}.jpg` alt=`slide${i}`)
        a.carousel-control-next(data-slide="next" role="button" href="#carousel")
            span.carousel-control-next-icon
        a.carousel-control-prev(data-slide="prev" role="button" href="#carousel")
            span.carousel-control-prev-icon

    +offerBanner.mb-4
    div.mb-4
        +stallHeader("Featured Product")
        div(data-simplebar).pb-2
            div.row.flex-nowrap
                +featuredProduct("Nvidia RTX 2070","New Technology gaming card")
                +featuredProduct("Nvidia GTX 1070","Old Technology gaming card")
                +featuredProduct("Nvidia GTX 1080","Gaming card")
                +featuredProduct("Nvidia RTX 2070","New Technology gaming card")
                +featuredProduct("Nvidia RTX 2070","New Technology gaming card")
                div.d-flex.align-items-center
                    i.fas.fa-chevron-right.text-muted

append content
    script(src="../scripts/simplebar.min.js")

mixin featuredProduct(title, subtitle)
    div.col-md-6.col-12.col-lg-4&attributes(attributes)
        div.card.shadow-sm
            img.card-img-top.w-100(src="../images/thumb.jpg")
            div.card-body.d-flex.flex-column
                h4.card-title #{title}
                h6.card-subtitle.text-muted.mb-2 #{subtitle}
                a.card-link(href="#") Read more >>

mixin item(title,desc,price)
    div.col-md-4.col-6&attributes(attributes)
        div.card.shadow-sm
            img.card-img-top.w-100(src="../images/thumb.jpg")
            div.card-body.d-flex.flex-column
                h5.card-title #{title}

mixin stallHeader(title,linkTitle)
    div.d-flex.align-items-end.justify-content-between&attributes(attributes)
        h4 #{title}
        a.card-link(href="#") #{linkTitle || "More"} >>
    hr.border-info.mt-2

mixin offerBanner
    div.card.shadow-sm&attributes(attributes)
        div.card-body.d-flex.flex-row-reverse.justify-content-between
            button.btn.btn-info.px-md-5 Buy Now!
            h5.card-text.font-weight-light.d-none.d-md-inline Ad Banner or Discount Offer go here
