extends base.layout.pug

mixin searchTopic(title, items, id)
    div
        if items
            h6.text-muted #{title}
            if items.length > 8 && id
                each item in items.slice(0,6)
                    div
                        input(type="checkbox")
                        label.ml-1.text-muted #{item}
                div.collapse(class=`${id}-collapse-mark`)
                    each item in items.slice(6)
                        div
                            input(type="checkbox")
                            label.ml-1.text-muted #{item}
                    a.card-link(href="#" role="button" data-toggle="collapse" data-target=`.${id}-collapse-mark`) Close
                div.collapse.show(class=`${id}-collapse-mark`)
                    a.card-link(href="#" role="button" data-toggle="collapse" data-target=`.${id}-collapse-mark`) More
            else
                each item in items
                    div
                        input(type="checkbox")
                        label.ml-1.text-muted #{item}

mixin advancedSearch()
    div
        +searchTopic("Categories", categories)
        hr.text-muted
        +searchTopic("Brands",[
            "PNY",
            "Matrox",
            "MSI",
            "Gigabyte",
            "Zotac",
            "XFX",
            "Asus",
            "EVGA",
            "Palit",
            "Galax",
            "PowerColor"
        ],"search-brand")
        hr.text-muted
        +searchTopic("Shipping", ["Free shipping", "Fast shipping"])
        hr.text-muted
        div
            h6.text-muted Price
            div.form-row
                div.col-9
                    div.form-row
                        div.col
                            input.form-control.form-control-sm(type="text" placeholder="Min")
                        div.col
                            input.form-control.form-control-sm(type="text" placeholder="Max")
                div.col-3
                    button.btn-outline-secondary.btn.btn-sm
                        i.fas.fa-funnel-dollar
            small.form-text.text-muted Showing item at any price
        hr.text-muted
        div
            h6.text-muted Rating
            +stars(5)
            +stars(4)
            +stars(3)
            +stars(2)
            +stars(1)

mixin stars(rate)
    a.text-warning.mb-1.d-block(href="#")
        i.fas.fa-star
        each i in Array(rate - 1)
            i.fas.fa-star.ml-1
        each i in Array(5 - rate)
            i.fas.fa-star.ml-1(style="color: #e9e9e9")
        if rate < 5
            span.ml-2.text-dark (#{rate} Up)

block body
    div.container
        div.row
            // left col with search and ad
            div.d-none.d-lg-block.col-lg-3
                div.mr-2
                    // advanced search
                    div.list-group.font-small.mb-4.shadow-sm
                        div.list-group-item.list-group-item-secondary.rounded-0.font-weight-bold Advanced Search
                        div.flex-column.list-group-item.py-3
                            +advancedSearch
                    block ad
            // main content
            div.col-lg-9
                block content

append body
    div#advanced-search-modal.modal.fade(tabindex="-1" role="dialog").z-top
        div.modal-dialog.modal-dialog-centered(role="document")
            div.modal-content
                div.modal-header
                    h5.modal-title Advanced Search
                    button.close(type="button" data-dismiss="modal")
                        span(aria-hidden="true") &times;
                div.modal-body
                    +advancedSearch
                div.d-flex.justify-content-center.modal-footer
                    button.btn.btn-outline-secondary(data-dismiss="modal") Close
